<h1 align="center">Cadastro de Titulos</h1>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row container-fluid">
                <form name="TituloForm">
                    <label>Titulo:</label>
                    <input required type="date" class="form-control" ng-model="entidade.dataVencimento"/>
                    <label>Escolha uma Data</label>
                    <select class="form-control" ng-model="entidade.pessoa">
                        <option>Fisica</option>
                        <option>Juridica</option>
                    </select>
                    <label>Selecione uma Pessoa</label>
                    <input required type="text" class="form-control" ng-model="entidade.valor"/>
                    <p ng-show="!entidade.valor" class="text text-danger">Digite um Valor</p>
                    <select class="form-control" ng-model="entidade.tipo">
                        <option>PAGAR</option>
                        <option>RECEBER</option>
                    </select>
                    <label>Selecione um Tipo</label>
                    <input required type="text" class="form-control" ng-model="entidade.categoria"/>
                    <p ng-show="!entidade.categoria" class="text text-danger">Digite uma Categoria</p>
                </form>
            </div>
        </div>
    </div>
    <button ng-disabled="TituloForm.$invalid" ng-click="salvar(entidade)" type="button" class="btn btn-primary pull-right">Salvar</button>
</div>